{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">CNBoard Data Administration</h2>
  <p class="card-text">For CNSA</p>
  <p class="card-text">
    CNBoard 관리자를 위한 페이지입니다.
  </p>
  <p class="card-text">
    TEAM. CNBoard<br>
    <a href="https://www.facebook.com/CNBoard/?modal=admin_todo_tour">CNBoard FACEBOOK PAGE</a>
  </p>
  <p class="card-text">
    <br><br>만약 공지 파일이 아닌 일반 데이터 수정을 원한다면 다음 링크로 되돌아가주세요.<br>
    <a href="http://45.32.49.247:8000/admin">Administration</a>
  </p>
{% endblock %}