{% extends 'base.html' %}

{% block content %}

    {% block content_header %}
        <h2>Notices</h2>

        <p>
            <a href="{% url 'upload_notice' %}" class="btn btn-primary">Upload Notice</a>
        </p>
    {% endblock %}

    <style>
        #cell { vertical-align: middle; }
    </style>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Grade</th>
                <th>Kind</th>
                <th>Image</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for notice in notices %}
                <tr>
                    <td style="vertical-align:middle;">{{ notice.notice_title }}</td>
                    <td style="vertical-align:middle;">
                        {% if notice.target_grade == 1 %}
                        1학년
                        {% elif notice.target_grade == 2 %}
                        2학년
                        {% elif notice.target_grade == 3 %}
                        3학년
                        {% else %}
                        전학년
                        {% endif %}
                    </td>
                    <td style="vertical-align:middle;">
                        {% if notice.notice_kind == 0 %}
                        기타
                        {% elif notice.notice_kind == 1 %}
                        일정
                        {% elif notice.notice_kind == 2 %}
                        대회
                        {% else %}
                        행사
                        {% endif %}
                    </td>
                    <td style="vertical-align:middle;">
                        {% if notice.notice_image %}
                            <img src="{{ notice.notice_image.url }}" alt="{{ notice.notice_title }}" style="width:100px;">
                        {% endif %}
                        <a href="{{ notice.notice_image.url }}" target="_blank" class="btn btn-secondary btn-sm" style="margin-left:8%;">Show Detail</a>
                    </td>
                    <td style="vertical-align:middle;">
                        {% with list_id=notice.pk|stringformat:"s" %}
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#{{ 'DeleteModel'|add:list_id }}">Delete</button>

                            <div id="{{ 'DeleteModel'|add:list_id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header"># Warning #</div>
                                        <div class="modal-body">Are you sure to delete this notice?</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                                            <form method="post" action="{% url 'delete_notice' notice.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}